<div class="container">
 

  <% if @user.image.attached? %>
    <%= image_tag @user.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>

<br><br>
<p>名前</p>
<p><%= @user.name %></p>

<p>自己紹介</p>
<p><%= @user.introduction %></p>

<p>リンク</p>
<p><%= @user.link %></p>

<% if @user == current_user %>
  <div class="edit_user">
     <%= link_to edit_user_path(@user), class: "btn btn-light btn-outline-dark" do %>
       ユーザー情報変更</i>
     <% end %>
  </div>
<% end %>

<br>
<p>ユーザーの投稿一覧</p>

<% @games.each do |game| %>
<div>
  <%= link_to game_path(game.id) do %>
    <%= image_tag game.image, size: "200x200" %>
  <% end %>
  <strong><span><%= game.title %></span></strong>
</div>
<% end %>

<%= paginate @games %>


</div>