<%# game/indexとuser/showの共通 %>
<div class="card-list-container py-5">
  <% games.each do |game| %>
    <%# メイン画像 %>
     <div class="card w-50 mx-auto mt-4 thumbnail" >
       <%= link_to game_path(game.id) do %>
          <%= image_tag game.image, class: "card-img-top"; %>
       <% end %>
       <div class="card-body">
         <div class="row">
           <p class="title">
             <%# タイトル %>
             <strong><span><%= game.title %></span></strong>
           </p>
           <p class="caption">
             <%# キャプション %>
　           <span><%= game.caption %></span>
　         </p>
　          <br>
　         <p class="main_text">
  　         <%# 自由記述欄 %>
          　<span><%= game.main_text %></span>
           </p>　
        </div>
      </div>
    </div>  
  <% end %>
</div>    