<div class="container">

<p>新着投稿一覧</p>

<% @games.each do |game| %>
  <%= link_to game_path(game.id) do %>
    <%= image_tag game.image, size: "200x200" %>
  <% end %>
　<p>タイトル</p>
  <strong><span><%= game.title %></span></strong>
　<p>見出し</p>
　<span><%= game.caption %></span>
　<p>自由記述欄</p>
　<span><%= game.main_text %></span>
　<p>もっと見る</p>
　
　
<% end %>

<%= paginate @games %>

<div class="container">