<div class="container">

<h1>新規投稿</h1>

<!-- エラーメッセージ -->
<% if @game.errors.any? %>
  <%= @game.errors.count %>件のエラーが発生しました
  <ul>
  <% @game.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
   </ul>
<% end %>

<!-- form_with部分 -->
<%= form_with model: Game.new do |f| %>

  <h6>メインビジュアル</h6>
  <% if @game.image.attached? %>
    <div>
      <%= image_tag(@game.image, class:"img-fluid") %>
    </div>
    <% else %>
  <% end %>
  
  <%= f.file_field :image, accept: "image/*" %>

  <h6>タイトル(必須)</h6>
  <%= f.text_field :title %>
	
  <h6>見出し（必須）</h6>
  <%= f.text_area :caption %>
  
  <h6>自由記述欄</h6>
  <%= f.text_area :main_text %>

  <%= f.submit '投稿' %>
<% end %>

</div>