<div class="container bg-white">

  
  <div>
    <%= image_tag(@game.image, class:"img-fluid") %>
  </div>
  <br>
  <div>
  <p>投稿者：<%= @game.user.name %></p>
  </div>
  <p><%= @game.title %></p>

  <p><%= @game.caption %></p>

  <p><%= @game.main_text %></p>

  <% if @game.user == current_user %>
    <div class="edit_game">
       <%= link_to edit_game_path(@game), class: "btn btn-light btn-outline-dark" do %>
         ゲーム情報変更</i>
       <% end %>
    </div>
    <br>
    <div class="nav-item">
       <%= link_to new_game_detail_path(@game), class: 'btn btn-light btn-outline-dark' do %>
         詳細の投稿</li>
       <% end %>
    </div>
  <% end %>
  
  
<br>

<% if @details.any? %>
  <p>詳細情報一覧</p>

  <% @details.each do |detail| %>
  <div>
    <%= link_to game_detail_path(detail.game_id, detail.id) do %>
      <%= image_tag detail.get_image(200,200) %>
    <% end %>
  </div>
  <% end %>
  <% else %>
    <%# 詳細が投稿されていない場合何も表示しない　%>
<% end %>




<br>
<% if @game.user == current_user %>
  <div class="destroy_game">
    <%= link_to game_path(@game.id), method: :delete, data: { confirm: "詳細記事やコメントを含めすべて削除されますが、本当に削除しますか？" }, class: 'btn btn-light btn-outline-dark' do %>
      この記事を削除
    <% end %>
  </div>
<% end %>

<%= paginate @details %>


</div>