<h5>タイトル</h5>
<%= image_tag @game.image, size: "200x200" %>

<p>投稿者：<%= @game.user.name %></p>

<p><%= @game.title %></p>

<p><%= @game.caption %></p>

<p><%= @game.main_text %></p>

<% if @game.user == current_user %>
  <div class="edit_game">
     <%= link_to edit_game_path(@game), class: "btn btn-light btn-outline-dark" do %>
       ゲーム情報変更</i>
     <% end %>
  </div>

  <div class="nav-item">
     <%= link_to new_game_detail_path(@game), class: 'btn btn-light btn-outline-dark' do %>
       詳細の投稿</li>
     <% end %>
  </div>
<% end %>
  
  
<br>

<% if @details.any? %>
  <p>詳細情報一覧</p>

  <% @details.each do |detail| %>
  <div>
   
      <%= image_tag detail.image, size: "200x200" %>
    
  </div>
  <% end %>
  <% else %>
<% end %>



<% if @game.user == current_user %>
  <div class="destroy_game">
    <%= link_to game_path(@game.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-light btn-outline-dark' do %>
      この記事を削除
    <% end %>
  </div>
<% end %>

