<h1>全ゲーム一覧</h1>
<ul>
  <% @games.each do |game| %>
    <li>
      <%= image_tag game.image, class: "align-items-center justify-content-center", style: "width: 320px; height: 240px;" %>
      <%= game.title %>
      <p><%= game.main_text %></p>
      <!-- リンクを追加 -->
      <%= link_to '削除', admin_game_path(game), method: :delete, data: { confirm: '本当に削除しますか？' } %> 
    </li>
  <% end %>
</ul>

<div class="Page navigation">
  <%= paginate @games %>
</div>

<ul>
  <%= link_to 'ユーザー一覧へ', admin_dashboards_path %> <br>
  <%= link_to '詳細一覧へ', admin_detail_dashboards_path %> <br>
  <%= link_to 'コメント一覧へ', admin_comment_dashboards_path %> 
</ul>