<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5 ">

    <h5 class="text-dark bg-light p-4 mb-0">パスワードをお忘れですか?</h5>

    <div class="form-body p-4 bg-light">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions pt-3">
        <%= f.submit "パスワード再設定メールを送る" %>
      </div>
     
      <% end %>

      <div class="pt-4">
        <%= render "public/shared/links" %>
      </div>
      </div>
    </div>
  </div>
</div>