<div class="container">
   <%= render 'public/searches/form' %>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  
  <div class="bg-light">
  <div class="row p-2 justify-content-center">
    <%= image_tag @detail.image, class: "img-fluid pr-3 pl-3" %>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-md-8">
      <p class="text-center"><strong><%= @detail.caption %></strong></p>
      <p class="p-3 text-center"><%= @detail.sub_text %></p>
    </div>
  </div>
  
  <div class="row justify-content-center mt-5">
    <%# ここで@game.user_idを手動で変えると問題が発生 %>  
    <%if @game.user_id == current_user.id %>
      <div>
        <%= link_to edit_game_detail_path(@detail.game_id, @detail.id), class: 'btn btn-light btn-outline-dark' do %>
         詳細の編集
        <% end %>
      </div>
    <% end %>
  </div>
  
  <div class="row justify-content-center mt-5 pb-5">
    <%= link_to "戻る", game_path(@game) %>
  </div>  

  </div>
    
  
</div>