<div class="container bg-light ">
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <div class="row p-2 justify-content-center">
    <%= image_tag @detail.image, class: "border m-2 p-2 img-fluid" %>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-md-8">
      <p class="text-center"><strong><%= @detail.caption %></strong></p>
      <p class="p-3 text-center"><%= @detail.sub_text %></p>
    </div>
  </div>
  
  <div class="row justify-content-center mt-5">  
    <%if @game.user_id == current_user.id %>
      <div>
        <%= link_to edit_game_detail_path(@detail.game_id, @detail.id), class: 'btn btn-light btn-outline-dark' do %>
         詳細の編集
        <% end %>
      </div>
    <% end %>
  </div>
  
  <div class="row justify-content-center mt-5 pb-5">
    <%= link_to "戻る", game_path(@game) %>
  </div>  

    
  
</div>