<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5 ">
      <h5 class="text-dark bg-light p-4 mb-0">新規登録</h5>
       <div class="form-body p-4 bg-light">
       　<!-- エラーメッセージ -->
         <%= render "devise/shared/error_messages", resource: resource %>
  
  
         <%= form_with model: @user, url: user_registration_path do |f| %>
  
          <div class="field">
            <%= f.label :ユーザー名 %><br>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :パスワードの確認%><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
          <br>
          <div class="actions">
            <%= f.submit "新規登録" %>
          </div>
          <% end %>
          <br>
          <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>