<h1>全詳細一覧</h1>
<ul>
  <% @details.each do |detail| %>
    <li>
      <%= image_tag detail.get_image(200,200) %>
      <p><%= detail.sub_text %></p> 
      <%= link_to '削除', admin_detail_path(detail), method: :delete, data: { confirm: '本当に削除しますか？' } %> 
    </li>
  <% end %>
</ul>

<ul>
  <%= link_to 'ユーザー一覧へ', admin_dashboards_path %> <br>
  <%= link_to 'ゲーム一覧へ', admin_game_dashboards_path %> <br>
  <%= link_to 'コメント一覧へ', admin_comment_dashboards_path %> 
</ul>