<h1>全ユーザー一覧</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %> - <%= user.email %>
      <%= link_to '詳細', admin_user_path(user.id) %>
      <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %> 
    </li>
  <% end %>
</ul>

<div class="Page navigation">
  <%= paginate @users %>
</div>

<ul>
  <%= link_to 'ゲーム一覧へ', admin_game_dashboards_path %> <br>
  <%= link_to '詳細一覧へ', admin_detail_dashboards_path %> <br>
  <%= link_to 'コメント一覧へ', admin_comment_dashboards_path %> 
</ul>
