<div class="container mb-5">
  <%= render 'admin/shared/dashboards' %>
  <h1>ユーザー情報編集</h1>
  <% if @user.errors.any? %>
    <ul class="alert alert-danger" role="alert">
    <h6 class="alert-heading">
      <%= @user.errors.count %>件のエラーが発生しました
    </h6>
      <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <div>
    <% if @user.image.attached? %>
      <%= image_tag @user.image, size: "100x100" %>
    <% else %>
      <%= image_tag(asset_path('no_image.jpg'), size: "100x100") %>
    <% end %>
  </div>
  <div>
    <%= form_with model: @user, url: admin_user_path(@user), local: true do |f| %>
    <h6>ユーザー画像</h6>
    <br>
    <%= f.file_field :image, placeholder: "プロフィール画像", accept: "image/*" %> <br><br>
  </div>
  <div>
    <h6>ユーザー名（必須：15字まで）</h6><br>
    <%= f.text_field :name, autofocus: f, placeholder:"User", class: "form-control" %><br><br>
  </div>
  <div>
    <h6>メールアドレス（必須）</h6><br>
    <%= f.text_field :email, autofocus: f, placeholder:"email", class: "form-control" %><br><br>
  </div>
  <div>
    <h6>自己紹介文（200字まで）</h6>
    <%= f.text_area :introduction, autofocus: true, class: "form-control", rows: 3 %><br>
  </div>
  <hr>
  <%= f.submit "更新する", class: 'btn btn-secondary' %>
  <% end %>
</div>