<h1>ユーザー管理</h1>
  <div>
    <% if @user.image.attached? %>
      <%= image_tag @user.image, size: "100x100"  %>
    <% else %>
      <%= image_tag(asset_path('no_image.jpg'), size: "100x100") %>
    <% end %>
  </div>
  <div>
    <h5><strong><%= @user.name %></strong></h5>
    <h6><%= @user.introduction %></h6>
  </div>

<br><br>

<p>ユーザーの投稿一覧</p>
<% @games.each do |game| %>
  <div class="m-2 p-2 d-flex" style="width:330px;height:250px">
    <%= image_tag game.image, class: "align-items-center justify-content-center", style: "width: 320px; height: 240px;" %>
  </div>
  <h4 class="mt-1"><strong><%= game.title %></strong></h4>
  <h6 class="mt-2"><span><strong><%= game.caption %></strong></span></h6>
  <h6 class="mt-1 lh-lg"><span><%= test_method(game.main_text) %></span></h6>
  <h6 class="mt-3 text-muted text-right"><span>コメント(<%= game.game_comments.count %>)</span></h6>
  <h6 class="text-muted text-right"><span>最終更新　<%= game.updated_at&.strftime("%Y年 %m月 %d日 %H時 %M分") %></span></h6>
<% end %>

<div class="Page navigation justify-content-center mt-3 pb-3">
    <%= paginate @games %>
</div>

<%= link_to 'ユーザー一覧へ', admin_dashboards_path %>
</div>
 


