<div class="container mb-5">
  <%= render 'admin/shared/dashboards' %>
  <h1>ユーザー管理</h1>
  <div>
    <% if @user.image.attached? %>
      <%= image_tag @user.image, size: "100x100"  %>
    <% else %>
      <%= image_tag(asset_path('no_image.jpg'), size: "100x100") %>
    <% end %>
  </div>
  
  
  <div>
    <h5><strong><%= @user.name %></strong></h5>
    <h6><%= @user.introduction %></h6>
     <%= link_to 'このユーザーを削除', admin_user_path(@user), method: :delete, data: { confirm: '本当に削除しますか？' } %> 
  </div>

<br><br>

<p>ユーザーの投稿一覧</p>
  <% @games.each do |game| %>
    <table class="table table-hover table-inverse">
      <thead class="bg-light">
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Title</th>
          <th>User</th>
          <th>Caption&Text</th>
          <th></th>
          <th colspan="6"></th>
        </tr>
      </thead> 
      <tbody>
        <tr>
          <td style="width:5%;"><%= game.id %></td>
          <td style="width:15%;">  
            <%= image_tag game.image, class: "align-items-center justify-content-center", style: "width: 140px; height: 100px;" %>
          </td>
          <td style="width:15%;"><%= game.title %></td>
          <td style="width:15%;"><%= game.user.name %></td>
          <td style="width:40%;">
            <p><%= game.caption %></p>---<%= game.main_text %>
          </td>
          <td style="width:10%;">
            <%= link_to '削除', admin_game_path(game), method: :delete, data: { confirm: '本当に削除しますか？' } %> 
          </td>
        </tr>
      </tbody>
    </table>  
  <% end %>
  <div class="Page navigation justify-content-center mt-3 pb-3">
    <%= paginate @games %>
  </div>

</div>
 


