<h1>全コメント一覧</h1>
<ul>
  <% @game_comments.each do |game_comment| %>
    <li>
      <%= game_comment.comment %>
      <%= link_to '削除', admin_comment_path(game_comment), method: :delete, data: { confirm: '本当に削除しますか？' } %> 
    </li>
  <% end %>
</ul>

<ul>
  <%= link_to 'ユーザー一覧へ', admin_dashboards_path %> <br>
  <%= link_to 'ゲーム一覧へ', admin_game_dashboards_path %> <br>
  <%= link_to '詳細一覧へ', admin_detail_dashboards_path %> 
</ul>