<div class="container">
  <div class="row">
    <div class="col-md-7 col-sm-12 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">詳細記事の投稿</h5>
        <div class="form-body p-4">
          <!-- エラーメッセージ -->
          <% if @detail.errors.any? %>
           <ul class="alert alert-danger" role="alert">
             <h6 class="alert-heading">
               <%= @detail.errors.count %>件のエラーが発生しました
             </h6>
             <% @detail.errors.full_messages.each do |message| %>
              <li><%= message %></li>
             <% end %>
           </ul>
          <% end %>          
           
           
          <%= form_with model: [@game, @detail], local: true do |f| %>
          <div>
            <%# はみでる %>
            <%= image_tag @detail.image %>
          </div>
          <br>
          <div>
            <h6>ビジュアル</h6>
            <%= f.file_field :image, accept: "image/*", class: "w-100" %>
          </div>
          <br>
          <div>
            <h6>自由記述欄（800字まで）</h6>
            <%# 800字以上でNoMethodError %>
            <%= f.text_area :sub_text, class: "form-control", rows: 5 %>
          </div>
          <hr>
          <%= f.submit '保存' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

