<% users.each do |user| %>
  <div class="row mt-3 p-2 bg-light">
    <div class="col-lg-2 col-md-3">
      <%# メイン画像 %>
      <div class="m-2 p-2 d-flex align-items-center justify-content-center">
        <%= link_to user_path(user.id) do %>
          <%= image_tag user.get_profile_image(100,100) %>
          <%# image_tag user.get_profile_image(100,100), class: "align-items-center justify-content-center", style: "width: 100px; height: 100px;" %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-7 col-md-6 p-2"> 
      <h6 class="mt-1 ml-2"><strong><%= user.name %></strong>
       <% if current_user != user %>
         <% if current_user.following?(user) %>
           <%= link_to "フォロー解除", user_relationships_path(user.id), method: :delete, class: "btn btn-info" %>
         <% else %>
           <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-success" %>
         <% end %>
       <% end %>
      </h6>
    </div>
      <%# ここに投稿ゲームの画像を表示 %>
      
      
      <h6 class="mt-1 lh-lg"><span><%# test_method(game.main_text) %></span></h6>
    
  </div>
<% end %>
<div class="row justify-content-center mt-3 pb-3">
  <div class="Page navigation">
    <%= paginate users %>
  </div>
</div>


