<!DOCTYPE html>
<html>
  <head>
    <title>イマジナリーゲーム博物館</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/97fc52e485.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container ">
          <a class="h6 text-light  text-decoration-none">イマジナリーゲーム博物館</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
             <ul class="navbar-nav ml-auto  text-decoration-none">
               
               <li class="nav-item">
                 <%= link_to "ユーザー登録", root_path, class: 'nav-link text-light' %>
               </li>
               <li class="nav-item">
                 <%= link_to "ログイン", root_path, class: 'nav-link text-light' %>
               </li>
             
             
             
             </ul> 
          </div>
        </div>
      </nav>
    </header>
    
    
    <main>
      <%= yield %>
    </main>
    
  </body>
</html>
